body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.wrapper {
  position: fixed;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;

  width: 1168px;
  height: 36px;
  left: 56px;
  top: 40px;
}
.button-nav {
  position: sticky;
}
.button-nav2 {
  position: sticky;
}